<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    <meta property="og:image" content="images/og_selectshop.png">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="basic.js"></script>
    <!--BootStrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--Bootstrap JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" />
    <!--    폰트-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

    <title>MakeCake BackOffice</title>
</head>
<style>
    .top{
        height: 230px;
        background-color: rgba(31, 35, 41, 40%);
        margin-bottom: 20px;
        text-align: center;
        vertical-align: middle;
        padding: 70px;
        font-size: 60px;
        color: whitesmoke;
    }
    .body{
        width: 80%;
        margin: 60px auto 150px auto;
        padding-bottom:20px
    }
    .peek-data{
        width: 87%;
        margin : auto;
        padding : 15px;
        background-color: rgba(240, 240, 240, 40%);

    }

    #show_peek_form{
        background-color: rgba(255, 250, 199, 50%);
        border-radius: 4px;
    }

    #show_peek_instruction{
        background-color: rgba(219, 224, 255, 50%);
        border-radius: 4px;

    }

    #peek_instruction_view{
        background-color: #FFFFFF;
        padding: 30px;
    }

    #peek_instruction_data{
        padding: 20px;
    }

    #peek_form_data{
        padding: 20px;
    }

    #peek_form_view{
        background-color: #FFFFFF;
        padding: 30px;
    }

    .default-instruction-message{
        color : #ff6792;
    }
    .peek-instruction-message{
        color : #777777;
    }


    #search-result{
        background-color: rgba(245, 235, 243, 80%);
        padding : 10px;
        border-radius: 4px;

        margin-bottom: 40px;
    }
    .btn-data-check{
        float : right;
    }

    .peek-form-message{
        color : #282828;
    }


</style>
<script>
    // (peekOrderData 내부 메소드) 데이터 잘 담겼는지 확인하는 기본 구역 설정
    function addTempArea(){
        let tempPeekData = `<div class="peek-data">
                                        <h5>미리 보기</h5><br>
                                        <div id="show_peek_store_id"></div>
                                         <h4>form</h4>
                                        <div id="show_peek_form">
                                            <div id = "peek_form_data"></div><br><br>
                                            <div id="peek_form_view">
                                                <div class="peek-form-message" id="peek_form_message_id"></div>
                                            </div>
                                        </div> <br>
                                        <h4>instruction</h4>
                                        <div id="show_peek_instruction">
                                            <div id="peek_instruction_data"></div><br><br>
                                            <div id="peek_instruction_view">
                                                <h6 class="default-instruction-message">주문 전 필독사항</h6>
                                                <div class="default-instruction-message">*실제 날짜와 픽업 시간은 해당 매장과 상의해주세요</div>
                                                <div class="peek-instruction-message" id="peek_instruction_message_id"></div>
                                            </div>
                                        </div>
                                        <div id="save-button"></div>
                                    </div>`
        $('#peek-data-area').append(tempPeekData);
    }

    // (peekOrderData 내부 메소드) 매장명 & 매장 아이디
    function addStoreNameAndId(storeId, storeName, orderName){
        let tempStoreNameAndId = `매장 id : ${storeId}
                                <br>
                                매장명 : ${storeName}
                                <br>
                                주문서명 : ${orderName}
                                <br>`

        $('#show_peek_store_id').append(tempStoreNameAndId);
    }

    function saveData(){
        let storeId = $('#store-id').val();
        let name = $('#order-name').val();
        let form = $('#about_form').val();
        let instruction = $('#about_instruction').val();

        let data = {'storeId': storeId, 'name': name, 'form': form, 'instruction': instruction};

        $.ajax({
            type: "POST",
            url: "/back-office/order-forms/add",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (response) {
                alert(response);
                window.location.reload();
            }
        })
    }

    function peekOrderData() {
        let storeId = $('#store-id').val();
        let name = $('#order-name').val();
        let form = $('#about_form').val();
        let instruction = $('#about_instruction').val();

        let data = {'storeId': storeId, 'name': name, 'form': form, 'instruction': instruction};

        $.ajax({
            type: "POST",
            url: "/back-office/order-forms/peek",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (response) {
                let storeId = response['storeId'];
                let storeName = response['storeName'];
                let name = response['name']
                let peekFormList = response['peekFormList'];
                let peekInstructionList = response['peekInstructionList']

                addTempArea();
                addStoreNameAndId(storeId, storeName, name);

                let tempPeekDataHead = `data <br>
                    [
                    <br>`

                $('#peek_form_data').append(tempPeekDataHead);


                for (let i = 0; i < peekFormList.length ; i++){
                    let eachFormData =  `"${peekFormList[i]}",
                                        <br>`
                    $('#peek_form_data').append(eachFormData);

                    let eachFormMessage = `${peekFormList[i]} :
                    <br><br>`

                    $('#peek_form_message_id').append(eachFormMessage);
                }

                let tempPeekDataFooter = `]<br>`

                $('#peek_form_data').append(tempPeekDataFooter);

                $('#peek_instruction_data').append(tempPeekDataHead);


                for(let i = 0; i < peekInstructionList.length; i++){
                    let eachInstructionData =  `"${peekInstructionList[i]}",
                                        <br>`
                    $('#peek_instruction_data').append(eachInstructionData);

                    if (peekInstructionList[i].includes('/ln')){
                        console.log("yes")
                        let insMessageArr = peekInstructionList[i].split('/ln');
                        console.log(insMessageArr)

                        for(let j = 0; j < insMessageArr.length; j++){
                            console.log(insMessageArr[0])
                            if(j === 0){
                                $('#peek_instruction_message_id').append(`*${insMessageArr[0]}<br>`)
                            }
                            else{
                                $('#peek_instruction_message_id').append(`&nbsp;${insMessageArr[i]}<br><br>`)
                            }
                        }
                    } else {
                        let eachInstructionMessage = `*${peekInstructionList[i]}<br>`

                        $('#peek_instruction_message_id').append(eachInstructionMessage);
                    }
                }
                $('#peek_instruction_data').append(tempPeekDataFooter);

                let saveButton = `<button class="btn btn-secondary btn-data-check" onclick="saveData()">저장 </button>`

                $('#save-button').append(saveButton);
            }
        })
    }

    function searchStoreId() {
        let searchText = $('#search-text').val();
        let data = {'searchText': searchText};

        $.ajax({
            type: "POST",
            url: "/back-office/stores/find-store-id",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (response) {
                let storeId = response['storeId'];
                let storeName = response['storeName'];

                addSearchResult(storeName,storeId);
            }
        })
    }
    // (searchStoreId 내부 메소드) 검색 결과 반환
    function addSearchResult(storeName, storeId){
        let tempHtml = `검색 결과<br><br>
                매장명 : ${storeName} <br>
                매장ID : ${storeId}`
        $('#search-result').append(tempHtml);
    }


</script>
<body>
<div class="jumbotron jumbotron-fluid top">
    <div class="container">
        <h1 class="display-4">메이크 케이크 Back Office</h1>
        <p class="lead">매장 주문서 양식 등록하기</p>
    </div>
</div>
<div class="body">
    <div class="search_storeId">
        매장 id 검색
        <br>
        <br>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="매장 이름 검색" id="search-text" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="searchStoreId()">검색</button>
            </div>
        </div>
        <br>
    </div>


    <!--            매장 검색 결과 : id-->
    <div id="search-result"></div>

    <div class="default-instruction-message">
        1. instruction 없으면 null 이라고 적어주세요 <br>
        2. instruction에서 같은 항목 내에 개행이 필요한 경우 ln이라고 적어주세요
        &nbsp;&nbsp; ex. *주문서 확인후 예약금 안내 도와드릴게요!/ln주문해주셔서 감사합니다.
    </div> <br> <br>

    <!--            매장 id 입력-->
    <div>
        <label for="store-id">매장 id :</label>
        <input type="text" id="store-id" name="store-id" placeholder="필수">
        <br>
        <br>
    </div>

    <!--            주문서 이름 입력-->
    <div>
        <label for="order-name">주문서 이름 :</label>
        <input type="text" id="order-name" name="order-name" placeholder="필수">
        * 매장당 주문서 하나면 매장명으로, 주문서 여러개면 "매장명(주문서명)" ex. 밈미레터링케이크(홀케이크)
        <br>
        <br>
    </div>

    <!-- 주문서 입력 폼 입력-->
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> 주문서 입력 폼(form) </span>
        </div>
        <textarea id="about_form" class="form-control" aria-label="With textarea" cols="50" rows="10" placeholder="필수"></textarea>
    </div><br>
    <!--            주문 전 필독사항 입력-->
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> 주문 전 필독 사항(instruction) </span>
        </div>
        <textarea id="about_instruction" class="form-control" aria-label="With textarea" cols="50" rows="10"></textarea>
    </div>
    <br>
    <button class="btn btn-secondary btn-data-check" onclick="peekOrderData()"> 데이터 잘 넣었는지 확인! </button>
    <br>
    <br>

    <!--            미리보기 여기 나타날 예정-->
    <div id="peek-data-area">
    </div>

</div>



</body>
</html>